// reset style
@import "~/assets/normalize.css";
// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

:root {
  --color-text-white: #D3D5FD;
  --color-text-black: #373738;
  --color-accent: #4DD0E1;
	--color-bg: #0B0B0D;
	--color-link: #D3D5FD;
	--color-link-hover: #d3d5fd80;
  --font-text: 'Raleway', sans-serif;
  --font-display: 'Abril Fatface', cursive;
}

html, body {
  font-family: var(--font-text);
  font-size: 24px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-text-white);
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-link);
  text-decoration: unset;
  &:hover {
    color: var(--color-link-hover)
  }
}

main {
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  padding: 3em 5em;

  &__inner {
    display: grid;
    justify-items: center;
    row-gap: 40px;
  }

  &__title {
    font-family: var(--font-display);
    font-size: 101.66px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--color-text-black);
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      width: 70%;
      height: 45px;
      z-index: -1;
      background: linear-gradient(45deg, #929AAB, #4DD0E1);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__subtitle {
    font-family: var(--font-text);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-black);
    text-align: center;
  }

  &--reveal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #929AAB, #717684);
    flex-direction: column;
    overflow-y: visible;
  }
  
  &--fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 3em 5em;
    pointer-events: none;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header-mobile ..."
      "social-media ... info";

    .header {
      grid-area: header;
      align-self: start;
      justify-self: start;
      pointer-events: auto;
      cursor: pointer;
      &__title {
        letter-spacing: -9px;
        font-family: var(--font-display);
        margin: 0;
        transition: ease .25s;
        &:hover {
          letter-spacing: 0;
        }
      }
    }

    .social-media {
      grid-area: social-media;
      align-self: end;
      justify-self: start;
      list-style-type: none;
      display: flex;
      pointer-events: auto;
      a {
        margin-right: 16px;
      }
      svg {
        fill: var(--color-text-white);
        width: 32px;
        &:hover {
          fill: var(--color-link-hover);
        }
      }
    }

    .info {
      font-size: 16px;
      grid-area: info;
      align-self: end;
      justify-self: end;
      color: #929AAB;
      text-align: right;
      pointer-events: auto;
    }
  }

  .menu {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25vw;
    &__item {
      font-family: var(--font-display);
      font-size: 62.83px;
      color: var(--color-text-white);
      position: relative;
      display: flex;
      flex-direction: row;
      width: fit-content;
      cursor: pointer;
      &::before {
        content: '';
        display: block;
        width: 60%;
        height: 24px;
        z-index: -1;
        background: linear-gradient(45deg, #929AAB, #4DD0E1);
        position: absolute;
        left: 0;
        bottom: 0;
        transform-origin: 0 0;
        transform: scale3d(0,1,1);
      }
      &--showDeco::before {
        transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
        transform: scale3d(1,1,1);
      }
      &--showDeco:hover::before {
        transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
        transform: scale3d(1.2,1,1);
      }
    }
  }
}

@media screen and (max-width: 55em) {
  .content {
    padding: 4em 1em;
    &--fixed {
      padding: 1em;
      .header {
        grid-area: header-mobile;
        justify-self: center;
      }
      .social-media {
        svg {
          width: 24px;
        }
      }
    }
    .menu {
      margin: 0 auto;
    }
  }
}

// decor
.decor {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 100%;
  max-width: 200%;
  
  @for $i from 0 through 4 {
    #decor-#{$i} {
      transition: ease 1s;
    }
  }
  .decor-group {
    scale: 0;
  }
}

// back button
.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--color-text-black);
  border: 2px solid var(--color-text-black);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  outline: currentColor;
  margin-bottom: 2em;
  svg path {
    stroke: var(--color-text-black);
  }
  &:hover {
    border-color: var(--color-link-hover);
    background: var(--color-link-hover);
  }
}

.blog {
  &__list {
    list-style: none;
    width: 100%;
    margin-top: 2em;
  }
  &__post {
    margin-bottom: 2em;
    &-title {
      font-family: var(--font-display);
      font-size: 38.83px;
      font-weight: 400;
      color: var(--color-text-black);
      margin-bottom: 8px;
      a {
        color: inherit;
      }
    }
    &-meta {
      font-size: 14.83px;
    }
  }
}

// scrollbar
::-webkit-scrollbar {
  display: none;
}